In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
campdict={
    "Excited":[19,38],
    "Kind of Interested":[25,30],
    "OK":[40,14],
    "Not Great": [5,6],
    "Bored": [11,12]
}
states=["States", "After"]

In [6]:
df=pd.DataFrame.from_dict(campdict). T

In [7]:
df

                     0   1
Excited             19  38
Kind of Interested  25  30
OK                  40  14
Not Great            5   6
Bored               11  12